* {
    margin: 0;
    padding: 0;
   }
   #parent{
       height: 100vh;
       background-color: gray;
   }
#header{
    width: 100vw;
    height: 15vh;
    clear: both;
    background-color: rgb(0, 162, 255);
    text-align: center;
    color: white;
    line-height: 15vh;
}
#footer{
    width: 100vw;
    height: 15vh;
    clear: both;
    background-color:  green;
    text-align: center;
    color: white;
    line-height: 15vh;
    bottom: 0;
    
}
#leftSide{
    height: 70vh;
    background-color: orange;
    width: 20%;
    float: left;
}
#main{
    height: 70vh;
    background-color: rgb(230, 171, 171);
    width: 60%;
    float: left;
}
#rightSide{
    height: 70vh;
    background-color: rgb(247, 0, 255);
    width: 20%;
    float: left;
    
}
p{
    padding-left: 2% ;
    padding-right: 2%;
}
h3,h4{
    padding-left: 2%;
    padding-top: 2px;
}
@media screen and (max-width: 800px) {
   #main{
       height: 50vh;
       width: 100vw;
   }
   #leftSide{
       height: 10vh;
       width: 100vw;
   }
   #rightSide{
    height: 10vh;
    width: 100vw;
   }
}